.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin: 92px 24px 96px;
}

.header__menu {
  margin-left: 28px;
}

.header__links-list {
  display: flex;
  column-gap: 34px;
  padding-top: 4px;
  text-underline-offset: auto;
  list-style-type: circle;
}

.header__link {
  border-bottom: 1px solid;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
}

.header__logo {
  display: flex;
  margin-left: 38px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  margin-right: 58px;
}

.cover {
  position: relative;
  z-index: -2;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  margin-left: 42px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 107px;
  padding: 105px 50px 50px;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px #fff solid;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: Medium;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin: 180px 24px 30px;
}
.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  list-style-type: none;
}

.card {
  position: relative;
  z-index: -2;
  display: flex;
  width: 334px;
  height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 120px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 2px;
}

.about {
  display: grid;
  grid-template-columns: 335px 1fr;
  justify-items: center;
  gap: 25px;
  margin: 0 24px 180px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  place-items: center;
  place-content: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #000;
}

.about__logo-image {
  width: 142px;
  height: 113px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
}

.about__title {
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 82px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
